<app-breadcrumb [title]="'All Resources'" [items]="['Apps', 'User']" [active_item]="'All Resources'"></app-breadcrumb>

<div class="container-fluid">
  <div class="row">
    <div class="col-4 box-col-4">
      <div class="card social-profile">
        <div class="card-body">
          <div class="social-details">
            <h5 class="mb-1">List of Hospitals</h5>
            <div class="search-page">
                <div class="theme-form">
                    <div class="input-group">
                        <input type="text" id="zipcodeInput" name="zipcode" style="color:grey" placeholder="Enter Zipcode">
                        <button type="button" class="input-group-text">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>            
            <div class="container">
                <table class="table table-border-none">
                    <thead>
                        <tr>
                            <th>Zipcode</th>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Example rows -->
                        <tr>
                            <td>10001</td>
                            <td><a href="#">Hospital A</a></td>
                        </tr>
                        <tr>
                            <td>10002</td>
                            <td><a href="#">Hospital B</a></td>
                        </tr>
                        <tr>
                            <td>10003</td>
                            <td><a href="#">Hospital C</a></td>
                        </tr>
                        <!-- Add more rows as needed -->
                    </tbody>
                </table>
            </div>
            
          </div>
        </div>
      </div>
    </div>
    <div class="col-4 box-col-4">
        <div class="card social-profile">
          <div class="card-body">
            <div class="social-details">
              <h5 class="mb-1">List of NGOs</h5>          
              <div class="container">
                <ul class="mt-5" style="text-align:left;">
                    <li><a href="#"> Youth Advocate Programs, Inc. - YAP</a></li>
                    <li><a href="#"> WomenRising</a></li>
                    <li><a href="#"> Volunteer Lawyers For Justice</a></li>
                    <li><a href="#"> United Way-Hudson County</a></li>
                    <li><a href="#"> Trenton Cats Rescue</a></li>
                    <li><a href="#"> South Jersey AIDS Alliance</a></li>
                    <li><a href="#"> New City Kids: Jersey City</a></li>
                    <li><a href="#"> Child Welfare In Action</a></li>
                    <li><a href="#"> Hudson Pride Center</a></li>
                </ul>
              </div>
              
            </div>
          </div>
        </div>
      </div>
      <div class="col-4 box-col-4">
        <div class="card social-profile">
          <div class="card-body">
            <div class="social-details">
              <h5 class="mb-1">List of Clinics</h5>
              <div class="search-page">
                  <div class="theme-form">
                      <div class="input-group">
                          <input type="text" id="zipcodeInput" name="zipcode" style="color:grey" placeholder="Enter Zipcode">
                          <button type="button" class="input-group-text">
                              <i class="fa fa-search"></i>
                          </button>
                      </div>
                  </div>
              </div>            
              <div class="container">
                  <table class="table table-bordernone">
                      <thead>
                          <tr>
                              <th>Zipcode</th>
                              <th>Name</th>
                          </tr>
                      </thead>
                      <tbody>
                          <!-- Example rows -->
                          <tr>
                              <td>10001</td>
                              <td><a href="#">Hospital A</a></td>
                          </tr>
                          <tr>
                              <td>10002</td>
                              <td><a href="#">Hospital B</a></td>
                          </tr>
                          <tr>
                              <td>10003</td>
                              <td><a href="#">Hospital C</a></td>
                          </tr>
                          <!-- Add more rows as needed -->
                      </tbody>
                  </table>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
        <div class="card social-profile" style="width:100%;">
          <div class="card-body">
            <div class="social-details">
              <h5 class="mb-1">Emergency Numbers</h5>         
              <div class="container mt-5">
                <ul class="text-left" style="text-align:left;">
                    <li class="mt-1"><a href="#">911 </a>Emergency Services</li>
                    <li><a href="https://nj211.org/">211 </a>Public, Health, and Community services</li>
                    <li><a href="#">311 </a>Non-emergency police, fire and municipal business</li>
                    <li><a href="https://www.511nj.org/home">511 </a>Road and traffic conditions</li>
                    <li><a href="#">711 </a>Telecommunications Relay Service (TRS) for speech & hearing impaired</li>
                    <li><a href="#">811 </a>Call before you dig, arranges for utilities to be located and marked</li>
                    <li><a href="https://988lifeline.org/">988 </a> Suicide and Crisis Lifeline</li>
                </ul>
              </div>
              
            </div>
          </div>
        </div>
      </div>
  </div>
</div>

